@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@model WebApplication221220.Models.Diary


<input type="button" value="寫日記" onclick="location.href='/Home/keep'">


@*<div class="form-group">
    <label>ID： </label>
    <label>@Model.id</label>
</div>
<div class="form-group">
    <label>時間： </label>
    <label>@Model.date.ToString("yyyyMMdd HH:mm:ss") </label>
</div>
<div class="form-group">
    <label>標題：</label>
    <label>@Model.title</label>
</div>
<div class="form-group">
    <label>內容： </label>
    <label>@Model.content</label>
</div>*@